{{ define "content" }}

<section class="intro">

    <div class="profile">
        <img src="/static/images/vicky_chhetri.jpg" alt="Vicky Chhetri"  style="width:200px;height:200px; border-radius:50%;"/>
    </div>

    <h1>Vicky Chhetri</h1>

    <p class="role">
        Senior Backend Engineer · Go / Distributed Systems
    </p>

    <p class="about">
        I design and build reliable backend systems with Go.
        I prefer simple architectures, boring technology,
        and code that survives production.
    </p>

    <ul class="links">
        <li><a href="https://github.com/vickychhetri">GitHub</a></li>
        <li><a href="/writings">Writing</a></li>
        <li><a href="https://github.com/vickychhetri/pheri">Current-Project</a></li>
        <li><a href="mailto:vickychhetri4@gmail.com">Email</a></li>
    </ul>

</section>

{{ end }}
